*{
    margin: 0;
    padding: 0;
}
body{
 background-color: var(--tercer-bg-color) ;
 }

:root {
    --main-bg-color: #222125  ;
    --second-bg-color:#788648;
    --tercer-bg:#242B43;
    --cuarto-bg:#F8F6ED;
    --quinto-bg:#f8f9fa;
    --main-color:#FFFFFF;
    --second-color:"";
  }

.present{
    font-size: 60px;
}
.titulo{
    font-size: 40px !important;
    margin-bottom: 10px !important;
}

div.container{
    width: 1220px;
}
nav.navbar{
    padding: 20px;
    position: sticky !important;
    width: 100%;
    
/*     background-color: var(--main-bg-color) !important;
 */    
    background: var(--main-bg-color) !important;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
}
.navbar-brand , .navbar-nav a{
    color: var(--cuarto-bg) !important;
   /*  color: var(--tercer-bg);
    font-weight: 600; */
}
.nav-link{
    font-size: 15px !important;
    padding: 3 !important;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: 18px;
    opacity: 0.75;
}
.nav-link:hover, .nav-link.active{
    opacity: 1;

}
 a.navbar-brand{
   height: 40px;
   line-height: 39px;
} 
.col_logo{
    line-height: 50px;
}
.col_nav button{
    border: 0;
    background-color: #fff;
    font-weight: 700;
    color: var(--main-bg-color) !important;
    border: 1px solid #fff;
    padding: 8px 18px;
    font-size: 18px;
    margin-left: 18px;
	position: relative;
	transition: 0.3s ease-in-out;
    transition: all 500ms;
}
.col_nav button:hover {
    background-color: rgba(255, 255, 255, 0.822) ;
    color: var(--main-bg-color);
  }
  nav.navbar.scrolled {
    padding:3px ;
/*     background-color: #fff !important;
 */  }



 /* Projects */

.project{
     width: 100%;
    margin: auto; 
    font-size: 12px;
    padding: 4px;
   /*  display: grid;
    grid-template-columns: repeat(4,1fr); */
 }
 .project div{
    
    width: 30px;
    padding: 5px;
    text-align: center;
 }
 .header_cards{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    width: 80%;
 }
 .box {
    width: 43px ;
    height: 30px;
}
.box img{

    width: 30px;
    object-fit: cover;
    height: 30px;
}
 .card-text{
    width: 100%;
    margin: auto;
    font-size: 14px;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
}

.tecn .card{
    border: none;
    padding: 0;
    width:8rem;
    margin: 10px;   
}

.tecn .card img{
    width: 100%;
    height: 60px;
    object-fit:contain;
}
.tecn .card-body{
    padding: 0;
}

.footer{
    padding-top: 88px;
    background-color: var(--main-bg-color);
}

.footer a{
  color: white;
}


.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.contact_icons .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #a7a7a7;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.contact_icons .social-icon a{
    width: 50px !important;
}





.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.contact h3{
    font-size: 20px !important;
}
/* .boximg{
    width: 30px;
    height: 30px;
    background-image: url(./nodejs.jpg);
    background-position:35px;
    background-size:cover;
    border-radius: 50%;
} */



/* BANNER */
.banner{
    background: var(--tercer-bg);
    color: var(--cuarto-bg);
}

.bannersection{
    min-height:calc(100vh - 5rem) !important;
   /*  width: 95vw;
    margin: 0 auto; */
    display: grid;
    place-items: center;
}

/* TECNOLOGIAS */
.tecnologias{
    padding:40px ;
    background: var(--tercer-bg);
    
}
.tecnologias .card div:first-child{
    padding: 20px;
}
.tecnologias .titulo{
    color: var(--quinto-bg);
}

/* PROYECTS */

.proyects{
    padding:40px ;
    background: var(--tercer-bg);
    
}
.card{
    position: relative;
    padding: 0;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.projects .card{
    box-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    transition: all 300ms;
    border: 0;
    border-radius: 10px;
    width: 22rem;
    height: 400px;
}
.contentimg{
    z-index: 1;
   border-radius: 8px 8px 0px 0px;
    top: 0px;
   position: absolute;
   width: 100%;
   height: 40%;
   background: #2F466E;
}
.projects .card .card-img{
    z-index: 10;
   width: 250px !important; 
   margin: auto;
   margin-top: 15px;
}
.projects .card:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) ;
    transform: translateY(-3%);
} 
.proyects .titulo{
    color: var(--cuarto-bg);

}
/* CONTACTO */
.contacto{
    padding:40px ;
     background: var(--tercer-bg) 
}
.contacto{
  /*   color: var(--main-color); */
  color: var(--main-color);
}


.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.tecnologias .underline ,.contacto .underline,.proyects .underline{
    background: var(--cuarto-bg);
}

